.{box-sizing: border-box;}

.login{
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 5px;
    width:20%;
    height:400px;
    position: relative;
    top:150px;
    left: 20%;
    float: left;
    margin-left: 100px;
}

.login .form{
    padding: 30px;
    margin:20px;
    height:270px;
    position: relative;
    top:70px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.788);
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.login .form .container{
    border-radius:3px;
    border:1px lightblue solid;
    margin:5px;
    background-color: transparent;
    color:white;
}

.login .form .submit{
    border:4px solid royalblue;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
